<div class="navbar-header" [ngClass]="controlConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/control.svg">
        <span class="logo-text">CONTROL</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" controlPerfectScrollbar [controlPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="controlConfig.layout.navbar.primaryBackground">
    <control-navigation layout="vertical"></control-navigation>
</div>