<div id="login" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/icons/control/login/login-6.png">
            </div>

            <div class="title">INICIA SESION</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required') && submitted && f.email.errors">
                        El correo electronico el requerido.
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Ingresa un correo electronico valido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="submitted && f.password.errors">
                        La contraseña es requerido.
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Recuerdame
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        ¿Olvidaste tu contraseña?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                    [disabled]="loginForm.invalid" [ngStyle]="{'padding': '0'}">

                    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent">
                    </mat-progress-bar>
                    INICIAR SESION
                </button>



                <!-- <mat-spinner-button 
                    [options]="spinnerButtonOptions"
                    class="submit-button"

                >
                </mat-spinner-button> -->

            </form>

            <div class="separator">
                <span class="text">Ó</span>
            </div>

            <button mat-raised-button class="google">
                Inicia con Google
            </button>

            <button mat-raised-button class="facebook">
                Inicia con Facebook
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Aun no tienes una cuenta?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Crear cuenta</a>
            </div>

        </div>

    </div>

</div>